In [11]:
import MySQLdb
import MySQLdb.cursors

In [54]:
import MySQLdb
import MySQLdb.cursors

db = MySQLdb.connect(host='localhost',user='root',passwd='',db='douban',port=3306,charset='utf8',cursorclass=MySQLdb.cursors.DictCursor)
db.autocommit(True)
cursor = db.cursor()

fr = open('C:/Users/tianjiayang/doubanmovie/movie crawler and visualization/crawler/clean_data.txt','r',encoding='utf8')

count = 0
for line in fr:
    count += 1
    print(count)
    if count == 1:
        continue
    line = line.strip().split('^')
    cursor.execute("insert into movie(title,url,score,length,description) values(%s,%s,%s,%s,%s)",[line[1],line[2],line[4],line[-3],line[-1]])
    print(count,'done')




fr.close()

1
2
2 done
3
3 done
4
4 done
5
5 done
6
6 done
7
7 done
8
8 done
9
9 done
10
10 done
11
11 done
12
12 done
13
13 done
14
14 done
15
15 done
16
16 done
17
17 done
18
18 done
19
19 done
20
20 done
21
21 done
22
22 done
23
23 done
24
24 done
25
25 done
26
26 done
27
27 done
28
28 done
29
29 done
30
30 done
31
31 done
32
32 done
33
33 done
34
34 done
35
35 done
36
36 done
37
37 done
38
38 done
39
39 done
40
40 done
41
41 done
42
42 done
43
43 done
44
44 done
45
45 done
46
46 done
47
47 done
48
48 done
49
49 done
50
50 done
51
51 done
52
52 done
53
53 done
54
54 done
55
55 done
56
56 done
57
57 done
58
58 done
59
59 done
60
60 done
61
61 done
62
62 done
63
63 done
64
64 done
65
65 done
66
66 done
67
67 done
68
68 done
69
69 done
70
70 done
71
71 done
72
72 done
73
73 done
74
74 done
75
75 done
76
76 done
77
77 done
78
78 done
79
79 done
80
80 done
81
81 done
82
82 done
83
83 done
84
84 done
85
85 done
86
86 done
87
87 done
88
88 done
89
89 done
90
90 done
91
91 done
92
92 done
93
93 done
94
94 done
95
95 done
96
96 done
97
97 done
98
98 done
99

OperationalError: (1366, "Incorrect decimal value: '' for column 'length' at row 1")